!!!
%html
  %head
    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    / javascripts
    %script{ :type => "text/javascript", :src  => "javascripts/jquery.js" }
    %script{ :type => "text/javascript", :src  => "javascripts/underscore.js" }
    / stylesheets
    %link{ :rel => "stylesheet", :href => "/stylesheets/styles.css", :type => "text/css" }
    %title
      = @title ||= "Addressbook"
  
  %body
    %div#keynote
      %h1
        = @title
    = yield