- @title = "People"

%a{ :href => "/time" } Time

%div#people_list
  %dl
    {{ _.each(people, function(person) { }}
    %li
      %dt
        %b Person
      %dd Name: {{= person.name }}
      %dd Age:  {{= person.age }} years
      {{ _.each(person.children, function(child) { }}
      %li
        %dt
          %b Child
        %dd Name: {{= child.name }}
        %dd Age:  {{= child.age }}
      {{ }); }}
    = "="*20
    {{ }); }}

%div#people_table

:javascript
  $(document).ready(function() {

    var people_list_tpl = $('#people_list').html();
    $('#people_list').html( _.template(people_list_tpl, { people : #{people.to_json} }) );

    // This is ugly
    var people_table_tpl = "<table>\
                               <tr>\
                                 <th>Who</th>\
                                 <th>Name</th>\
                                 <th>Age</th>\
                               </tr>\
                               {{ _.each(people, function(person) { }}\
                               <tr>\
                                 <td><b>Person</b></td>\
                                 <td>{{= person.name }}</td>\
                                 <td>{{= person.age }}</td>\
                               </tr>\
                               {{ _.each(person.children, function(child) { }}\
                               <tr>\
                                 <td><b>Child</b></td>\
                                 <td>{{= child.name }}</td>\
                                 <td>{{= child.age }}</td>\
                               </tr>\
                               {{ }); }}\
                               {{ }); }}\
                             </table>";
    $('#people_table').html( _.template(people_table_tpl, { people : #{people.to_json} }) );                            
  });