- @title = "People"

%a{ :href => "/time" } Time

%div#people_list
  %dl
    {{ _.each(people, function(person) { }}
    %li
      %dt
        %b Person
      %dd Name: {{= person.name }}
      %dd Age:  {{= person.age }} years
      {{ _.each(person.children, function(child) { }}
      %li
        %dt
          %b Child
        %dd Name: {{= child.name }}
        %dd Age:  {{= child.age }}
      {{ }); }}
    = "="*20
    {{ }); }}

%div#people_table
/ %table{ :cellspacing => 0 }
/   %tr
/     %th Who
/     %th Name
/     %th Age
/   %tr
/     %td#first 
/       %h4 Person
/     %td {{= person.name }}
/     %td {{= person.age }}
/   %tr
/     %td#first
/       %h4 Child
/     %td {{= child.name }}
/     %td {{= child.age }}
/ 
/ {{ _.each(people, function(person) { }}
/ {{ _.each(person.children, function(child) { }}
/ {{ }); }}
/ {{ }); }}

:javascript
  $(document).ready(function() {

    var people_list_tpl = $('#people_list').html();
    $('#people_list').html( _.template(people_list_tpl, { people : #{people.to_json} }) );

    var people_table_tple = "<table>\
                             </table>";
    $('#people_table').html( _.template(people_table_tpl, { people : #{people.to_json} }) );                            
  });