- @title = "People"

%a{ :href => "/time" } Time

%div#people_list

%script#people_list_tpl{:type => 'text/html'}
  %dl
    {{ _.each(people, function(person) { }}
    %li
      %dt
        %b Person
      %dd Name: {{= person.name }}
      %dd Age:  {{= person.age }} years
      {{ _.each(person.children, function(child) { }}
      %li
        %dt
          %b Child
        %dd Name: {{= child.name }}
        %dd Age:  {{= child.age }}
      {{ }); }}
    = "="*20
    {{ }); }}

%div#people_table

%script#people_table_tpl{:type => 'text/html'}
  %table
    %tr
      %th Who
      %th Name
      %th Age
    {{ _.each(people, function(person) { }}
    %tr
      %td Person
      %td {{= person.name }}
      %td {{= person.age }}
    {{ _.each(person.children, function(child) { }}
    %tr
      %td Child
      %td {{= child.name }}
      %td {{= child.age }}
    {{ }); }}
    {{ }); }}



:javascript
  $(document).ready(function() {

    var people_list_tpl = $('#people_list_tpl').html();
    $('#people_list').html( _.template(people_list_tpl, { people : #{people.to_json} }) );

    var people_table_tpl = $('#people_table_tpl').html()
    $('#people_table').html( _.template(people_table_tpl, { people : #{people.to_json} }) );
    
  });